<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Edit Review</title>
  </head>
  <body>
    <nav class="main-nav">
      <% if (user) { %>
      <a href="/books" class="nav-link">Library</a>
      <a href="/books/new" class="nav-link">Add Book</a>
      <a href="/books/" class="nav-link">Search</a>
      <a href="/logout" class="nav-link">LOG OUT</a>
      <% } else { %>
      <a href="/auth/google" class="login nav-link"
        >LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"
      /></a>
      <% } %>
    </nav>
    
    <form id="edit-review-form" method="POST" action="/reviews/<%= review._id %>?_method=PUT" method="POST" class="review-form">
        <label class="review-label">Review:</label>
        <textarea name="reviewText" class="review-textarea"><%= review.reviewText %></textarea>
        <label class="rating-label">Rating:</label>
        <select name="rating" class="rating-select">
            <option value="1" <%= review.rating == 1 ? 'selected' : '' %>>1</option>
            <option value="2" <%= review.rating == 2 ? 'selected' : '' %>>2</option>
            <option value="3" <%= review.rating == 3 ? 'selected' : '' %>>3</option>
            <option value="4" <%= review.rating == 4 ? 'selected' : '' %>>4</option>
            <option value="5" <%= review.rating == 5 ? 'selected' : '' %>>5</option>
        </select>
        <input type="submit" value="Update Review" class="submit-review">
    </form>
  </body>
</html>